/* .project {
    display: flex;
    justify-content: center;
    max-height: 400px;
} */
.brand-logo {
    margin-left: 20px;
}

body {
    background-size: 20%;
    background-image: url("/assets/images/dark-honeycomb.png");
    
 }

 /* main {
     min-height: 500px;

 } */


 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

.app-img {
    height: 300px;
    
}
/* 
.weather-text {
    font-size: 10px;
}

.sched-text {
    font-size: 10px;
} */

